Syntax of bearer token is incorrect

Section 4.5 of draft-ietf-wish-whip-08 says:

> WHIP endpoints and resources MAY require the HTTP request to be authenticated using an HTTP Authorization header field with a Bearer token as specified in [RFC6750] section 2.1.

Section 2.1 of RFC 6750 specifies the syntax as:

> credentials = "Bearer" 1*SP b64token

So lines 8 and 18 of WhipProtocol.ts should say

```
                "Authorization": "Bearer " + authKey
```

Thanks! You are absolutely correct. We will address this after the summer break unless anyone else wants to provide a PR